# Dependencies
node_modules/

# pnpm
.pnpm-store/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/
coverage/

# Vite
vite.svg

# Next.js
.next/

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.parcel-cache/
.eslintcache

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.temp